<%include ./header.ejs%>
<h1><%= title %></h1>
<input id="account" type="text">
<input id="password" type="password">
<input id="loginBtn" type="button" value="login" class="btn"/>
<div>
    <input id="encode_type" type="text" value="0"/>
</div>
<%include ./footer.ejs%>
<script type="text/javascript">
$(function(){
    $('#loginBtn').on('click', function(){
        var account = $.trim($('#account').val());
        var password = $.trim($('#password').val());
        var encode_type = $.trim($('#encode_type').val());
        if(!account.length){
            public.showMessage('请填写账号');
            return;
        }
        if(!password.length){
            public.showMessage('请填写密码');
            return;
        }
        if(encode_type == '0')
            password = $.md5(password)
        var data = {
            account: account,
            password: password
        }
        $.ajax({
            type:'POST',
            url:'/login',
            data: data,
            dataType:'json',
            success:function(result){
                if(result.code != '200'){
                    public.showMessage(result.description);
                    return;
                }
                window.location.href = '/';
            },
            error: function(err){
                public.showMessage(err);
            }
        });
    });
});
</script>
