<% include ./header.ejs %>
<div class="container theme-showcase" style="margin-top:-40px" role="main">
    <div class="navbar-form">
        <span style="width:40px;display:inline-block;"> host</span>
        <input class="form-control" id="memcacheHost" value="localhost:11211"/>
        <input class="btn btn-primary" id="memcacheLink" type="button" value="连接"/>
        <span id="message"></span>
    </div>
    <div class="navbar-form">
        <span style="width:40px;display:inline-block;"> key</span>
        <input class="form-control" id="key"/>
        <input class="btn btn-primary" id="query" type="button" value="查询"/>
        <input class="btn btn-primary" id="delNullKey" type="button" value="删除空键"/>
    </div>
    <div/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> success</th>
            <th> key</th>
            <th> operation</th>
        </tr>
        </thead>
        <tbody id="dataList"></tbody>
    </table>
</div> <!-- /container -->
<% include ./footer.ejs %>

<script type="text/javascript" src="/js/memcache.js"></script>