<h1>Angular Test</h1>
<h2>Todo</h2>
<div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()" class="navbar-form" name="form">
        <input type="text" ng-model="todoList.todoText"  size="30" name="add-input" ng-pattern="/[\S]+/" required
               placeholder="add new todo here" class="form-control">
        <input class="btn btn-primary" type="submit" value="add" ng-disabled="form.$invalid">
    </form>
</div>