.video- {
  &,
  &mgt- {
    &video-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &video {
      height: 400px;
      width: 500px;
      background: #000;
    }
  }

  &list-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
