<%@ Template Language="C#"%>
<%@ Import Namespace="System.Collections.Generic" %>

<%@ Register Name="Tools" Template="Tools.cst"MergeProperties="Flase" ExcludeProperties=""%>
<%@ Register Name="Make" Template="Make.cst"MergeProperties="Flase" ExcludeProperties=""%>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.TableSchemaCollection" Category="数据源"   Description="需要生成的表" %>
<%@ Property Name="MakeTypeList" Type="List<Make.MakeTypeEnum>" Category="生成类型"   Description="生成类型" %>
<%@ Property Name="RemoveTablePrefix" Type="String" Default="t_" DeepLoad="True" Optional="True" Category="移除数据表前缀" 
Description="移除数据表前缀"%>
<%@ Property Name="DataBaseType" Type="Make.Tools.DatabaseTypeEnum" Default="" DeepLoad="True" Optional="True" Category="数据库类型" 
Description="数据库类型"%>
<%@ Property Name="FileNameType" Type="Tools.FilenameTypeEnum" Default="" DeepLoad="True" Optional="True" Category="文件名类型" 
Description="文件名类型"%>
<%

if(SourceDatabase.Count > 0){

    Tools.DeleteFilesAndFolders("./Output/" + SourceDatabase[0].Database.Name);
    var temp = new Make();
    temp.DataBaseType = DataBaseType;

    int i = 0;                
    SourceDatabase.ForEach(x=>{    
        try{
            i++;
            var fileName = x.Name;
            var dbName = x.Database.Name;
            if(!string.IsNullOrEmpty(RemoveTablePrefix)){
                if(fileName.StartsWith(RemoveTablePrefix))
                    fileName = fileName.Substring(RemoveTablePrefix.Length);
            }
            temp.Table = x;
            MakeTypeList.ForEach(makeType=>{
                try{
                    var outputFormat = "./Output/{0}/{1}";
                    switch(makeType){
                        case Make.MakeTypeEnum.Procedure:
                            outputFormat = "./Output/{0}/sql/{1}.sql";
                            break;
                        case Make.MakeTypeEnum.Js:
                        case Make.MakeTypeEnum.Ts:
                            switch(FileNameType){
                                case Tools.FilenameTypeEnum.Origin:
                                default:
                                    break;
                                case Tools.FilenameTypeEnum.CamelCase:
                                    fileName = Tools.ToCamelCase(fileName);
                                    break;
                                case Tools.FilenameTypeEnum.Pascal:
                                    fileName = Tools.ToPascalCase(fileName);
                                    break;
                            }
                            outputFormat = "./Output/{0}/" + (makeType == Make.MakeTypeEnum.Js ? "js/{1}.js" : "ts/{1}.ts");
                            break;
                    }
                    temp.MakeType = makeType;
                    temp.RenderToFile(string.Format(outputFormat, dbName, fileName), true);
                    if(makeType == Make.MakeTypeEnum.Procedure){
                        var strList = new List<string>();
                        if(i == 1){
                            switch(DataBaseType){
                                case Make.Tools.DatabaseTypeEnum.MySql:
                                    //替换特殊字符
                                    
                                    strList.Add("DROP FUNCTION IF EXISTS `replace_special_char`;");
                                    strList.Add("DELIMITER ;;");
                                    strList.Add("CREATE FUNCTION `replace_special_char`(`fun_str` text) RETURNS text CHARSET utf8");
                                    strList.Add("BEGIN");
                                    strList.Add("    SET fun_str = REPLACE(fun_str, '\\\\', '\\\\\\\\');");
                                    strList.Add("    SET fun_str = REPLACE(fun_str, '''', '''''');");
                                    strList.Add("    RETURN fun_str;");
                                    strList.Add("END");
                                    strList.Add(";;");
                                    strList.Add("DELIMITER ;");
                                break;
                            case Make.Tools.DatabaseTypeEnum.SqlServer:
                                    strList.Add("if exists(SELECT * FROM SYSOBJECTS WHERE NAME='replace_special_char')");
                                    strList.Add("    drop function replace_special_char;");
                                    strList.Add("GO");

                                    strList.Add("CREATE FUNCTION  replace_special_char(@fun_str nvarchar(max))");
                                    strList.Add("RETURNS nvarchar(max)");
                                    strList.Add("AS");
                                    strList.Add("BEGIN");
                                    strList.Add("    SET @fun_str = REPLACE(@fun_str, '''', '''''');");
                                    strList.Add("    RETURN @fun_str;");
                                    strList.Add("END ");
                                    break;
                            }                        
                            var str = string.Join(Environment.NewLine, strList.ToArray()) + Environment.NewLine;
                            File.AppendAllText(string.Format("./Output/{0}/sql/_all.sql", dbName), str);
                        }
                        File.AppendAllText(string.Format("./Output/{0}/sql/_all.sql", dbName), temp.RenderToString());
                    }
            %>
    <%=string.Format("{0}:{1} {2}", x.Name, makeType, "success")%>
            <%
                }catch(Exception ex){%>
    <%=string.Format("{0}:{1}", x.Name, ex.Message)%>
        <%
                }
            });        
        }catch(Exception ex){%>
    <%=string.Format("{0}:{1}", x.Name, ex.Message)%>
        <%
        }
    });
}
%>
<script runat="template">

</script>







