<div class="container">
    <div>
        <%for(var key in enumDict){
            var value = enumDict[key];
            if(enumChangeDict[key]){
        %>
        <% include ../_template/status%>
        <%}
}%>
    </div>
</div>
<script type="text/javascript">
require(['./_main'], function () {
        var main = require('./_main');
        main.init();
});
</script>