<tbody class="itemRow">
    <tr>
        <td>{%=id%}</td>
        <td>{%=type%}</td>
        <td>{%=type_name%}</td>
        <td>{%=parent_type%}</td>
        <td>{%=level%}</td>
        <td><a class="itemEdit" href="javascript:;" data-id="{%=id%}" >修改</a></td>
    </tr>
</tbody>