body {
  padding-top: 55px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.item {
  border: 1px solid #47a8ef;
  margin: 2px;
}

.item.self .item-content{
  text-align:right;
 }

.success{
  border: solid #3e8f3e !important;
}

.loading{
  border: solid #eb9316 !important;
}

.fail{
  border: solid #c12e2a !important;
}

tbody{
  word-break:break-all;
  word-wrap:break-word;
}

.my-row>div {
  margin-top: 10px;
}

table >.table-error{
    display: none;
}

table.error >.table-error{
    display: table-row-group;
}