body {
  padding-top: 55px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.no-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #00B7FF;
}

.container-fluid{
  margin: 0 10px;
}

.tab-content{
  border: 1px solid #ddd;
  border-top: 0;
  margin-bottom: 5px;
  padding: 5px;
}


.item {
  border: 1px solid #47a8ef;
  margin: 2px;
  border-radius:8px;
}

.item.self .item-content{
  text-align:right;
 }

.success{
  border: solid #d6e9c6;
}

.loading{
  border: solid #faebcc;
}

.fail{
  border: solid #ebccd1;
}

tbody{
  word-break:break-all;
  word-wrap:break-word;
}

.my-row>div {
  margin-top: 10px;
}

.error{
  display: none;
}