body {
    padding-top: 55px;
    padding-bottom: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.no-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

body.no-nav .container {
    width: 100%;
}

.container-fluid {
    margin: 0 10px;
}

.tab-header > a {
    min-height: 45px;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 5px;
    padding: 5px;
}

.item {
    border: 1px solid #47a8ef;
    margin: 2px;
    border-radius: 8px;
}

.item.self .item-content {
    text-align: right;
}

.success {
    border: solid #d6e9c6;
}

.loading {
    border: solid #faebcc;
}

.fail {
    border: solid #ebccd1;
}

tbody {
    word-break: break-all;
    word-wrap: break-word;
}

.my-row {
    margin: 10px 0;
}

.my-row > div {
    margin-top: 10px;
}

.error {
    display: none;
}

.no-resize {
    resize: none;
}

/*登录*/
.nav-sign > .sign.in {
    display: none;
}

.nav-sign.in > .sign.in {
    display: block;
}

.nav-sign.in > .sign.out {
    display: none;
}

/*浮动*/

.hover-target {
    display: none;
    position: absolute;
    z-index: 999;
    padding-top: 10px;
}

.pop-up-box {
    z-index: 1040;
}

.ui-autocomplete {
    z-index: 1041;
}

.my-label {
    margin-right: 5px;
    white-space: normal
}

.my-label .close {
    margin: -3px 0 0 4px;
}