<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <p class="navbar-text col-xs-12">
            <span>在线人数:<span id="onlineCount"></span></span>
            <span class="pull-right">version:<%= version %>;deploy:<%= deploy %></span>
        </p>
    </div>
</nav>
