<script type="text/javascript" src="/js/plugin/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/plugin/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/plugin/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugin/ejs.min.js"></script>
<script type="text/javascript" src="/js/plugin/md5.js"></script>
<script type="text/javascript">
    (function(){
        //
        ejs.open = '{%';
        ejs.close = '%}';
    })();
</script>

<script type="text/javascript" src="/js/config.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/extend.js?v=<%=version%>"></script>
</body>
</html>