<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <p class="navbar-text">
            <span>在线人数:<span id="onlineCount"></span></span>
        </p>
    </div>
</nav>
