<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="margin:0 0 10px 0">
            <button class="close" type="button" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">
            </h4>
        </div>
        <div class="modal-body">
            <button class="btn btn-default" id="treeRefresh">refresh</button>
            <button class="btn btn-default itemAdd" href="javascript:;">add</button>
            <div>
                <span>root</span>
                <ul class="tree" id="treeList">
                </ul>
                <span>not in root</span>
                <ul class="tree" id="notInRootTreeList">
                </ul>
            </div>
        </div>
    </div>
</div>