@prefix: my-table-;
.@{prefix}page {
  text-align: right;
  margin: 5px;
}

.@{prefix}action-box > * {
  margin: 5px;
}

.@{prefix}bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transform: translateY(100%);
}

.@{prefix}bottom-bar.active {
  transform: translateY(0%);
}
