<h1 style="text-align: center">
    <%= message %>
</h1>
<script>
    (function () {
        if (('placeholder' in document.createElement('input')))
            location.href = '/';
    })();
</script>