<% if(notSupportedBrowser){ %>
<h1 style="text-align: center">
    不支持的浏览器！
</h1>
<script>
    (function () {
        if (('placeholder' in document.createElement('input')))
            location.href = '/';
    })();
</script>
<% } else{ %>
<% include _public/header %>
<h1 style="text-align: center">
    <%= message %>
</h1>
<% include _public/footer %>
<% } %>