.wx-auth- {
  &user-info-card {
    min-height: 250px;
    > * {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  }
  &err,
  &logined {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    > * {
      margin: 10px 0;
    }
  }
  &user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  &op {
    min-width: 50px;
    margin: 10px;
    button {
      margin: 0 5px;
    }
  }
}
