.goods- {
  &carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &spec-name {
    font-weight: bold;
    font-size: 18px;
  }
  &buy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &mgt- {
    &reset-spec {
      margin-bottom: 10px;
    }
    &spec-group {
      display: flex;
      align-items: center;
      button {
        margin-left: 5px;
        height: auto !important;
      }
    }
    &sku-main {
      margin-bottom: 10px;
    }
  }
}
