.my-video- {
  &root {
    width: 900px;
    height: 500px;
    display: flex;
    align-items: stretch;
  }
  &video-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: black;
  }
  &video {
    height: 100% !important;
  }
  &color-picker {
    margin-right: 5px;
  }
  &danmaku-box {
    background: #fff;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    width: 360px;
    .ivu-table-wrapper {
      width: 100%;
    }
  }
  &danmaku-box-msg {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &danmaku-op-btn {
    cursor: pointer;
  }
  &danmaku-op-content {
    > * {
      cursor: pointer;
    }
  }
}
