<link href="/css/bootstrap-slider.css" rel="stylesheet">
<style>
    #rgba {
        height: 20px;
        background: rgba(128, 128, 128, 0.5);
    }
    #sliderR .slider-selection {
        background: #FF8282;
    }
    #sliderR .slider-handle {
        background: #FF6666;
    }
    #sliderG .slider-selection {
        background: #428041;
    }
    #sliderG .slider-handle {
        background: #66FF66;
    }
    #sliderB .slider-selection {
        background: #8283FF;
    }
    #sliderB .slider-handle {
        background: #6666FF;
    }

    #r, #g, #b, #a {
        width: 300px;
    }

    .color {
        cursor: pointer;
        width: 40px;
        height: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table>
            <thead><tr><th colspan="100">color</th></tr></thead>
            <tbody>
            <%
            var r = 256, g = 256, b = 256;
            for(var i = 0; i < r;i += 32){%>
            <tr>
            <%
            for(var j = 0;j < g;j += 32){
                for(var k = 0;k < b ;k += 32){
                        var color = (i * 0x10000 + j * 0x100 + k).toString(16);
                        if(color.length < 6){
                            var fixLen = 6 - color.length;
                            for(var x = 0;x < fixLen;x++) {
                                color = '0' + color;
                            }
                        }
                    color = '#' + color;
            %>
                    <td class="color" style="background:<%=color%>;"></td>
                    <%}
                    }%>
            </tr>
            <%}%>
            </tbody>
        </table>
        </div>
    </div>
    <p>
        <b>R</b> <input type="hidden" class="span2" value="" data-slider-id="sliderR" id="r"/>
    </p>
    <p>
        <b>G</b> <input type="hidden" class="span2" value="" data-slider-id="sliderG" id="g"/>
    </p>
    <p>
        <b>B</b> <input type="hidden" class="span2" value="" data-slider-id="sliderB" id="b"/>
    </p>
    <p>
        <b>A</b> <input type="hidden" class="span2" value="" data-slider-id="sliderA" id="a"/>
    </p>
    <div id="rgba"></div>
    <label id="colorText"></label><label>颜色</label>
</div>
<script src="/js/libs/bootstrap-slider.min.js"></script>
<script type="text/javascript">
    $(function(){
        var rgba = {
            r:null,
            g:null,
            b:null,
            a:null
        }
        var RGBChange = function() {
            $('#rgba').css('background', `rgba(${rgba.r.getValue()},${rgba.g.getValue()},${rgba.b.getValue()},${rgba.a.getValue()})`);
            var colorText = getHexColor(true);
            $('#colorText').html(getHexColor() + ';' + colorText)
                    .next().css('color', colorText);
        };

        var getHexColor = function(noAlpha){
            var color = $('#rgba').css('background-color');
            var m = color.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*(\d+\.\d+)\)$/);
            if(!m)
                m = color.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            var str = '';
            if(m){
                var alpha = 1;
                var r = parseInt(m[1]);
                var g = parseInt(m[2]);
                var b = parseInt(m[3]);
                if(m[4]){
                    alpha = parseFloat(m[4]);
                    if(!noAlpha)
                        str += ('00' + parseInt((alpha * 255)).toString(16)).slice(-2);
                    else {
                        r = parseInt((1 - alpha) * 255 + r * alpha);
                        g = parseInt((1 - alpha) * 255 + g * alpha);
                        b = parseInt((1 - alpha) * 255 + b * alpha);
                    }
                }
                str += ('00' + r.toString(16)).slice(-2);
                str += ('00' + g.toString(16)).slice(-2);
                str += ('00' + b.toString(16)).slice(-2);
            }
            if(str)
                str = '#' + str.toUpperCase();
            else
                str = color;
            return str;
        }
        for(var key in rgba){
            var opt = {
                min:0,
                max:255,
                step:1,
                value:128,
                tooltip:'hide'
            };
            if(key == 'a'){
                opt.max = 1;
                opt.step = 0.1;
                opt.value = 0.5;
            }
            rgba[key] = $('#' + key).bootstrapSlider(opt)
                    .on('slide change', RGBChange)
                    .data('bootstrapSlider');
        }
        RGBChange();

        $(document).on('click', '.color', function () {
            var color = $(this).css('background-color');
            var rgb = color.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            if(rgb){
                rgba.r.setValue(rgb[1]);
                rgba.g.setValue(rgb[2]);
                rgba.b.setValue(rgb[3]);
                RGBChange();
            }
        });
    });
</script>