<div class="container">
    <div class="row my-row">
        <div class="col-xs-4">
            <select id="config" class="form-control">
                <%
                for(var restIndex = 0;restIndex < restList.length;restIndex++){
                    var t = restList[restIndex];
                %>
                <option data-item="<%= JSON.stringify(t)%>"><%=t.url%>(<%=t.method%>)</option>
                <%}%>
            </select>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default" id="request">request</button>
        </div>
    </div>
    <div class="row my-row">
        <div class="col-xs-4"><input id="url" class="form-control"/></div>
        <div class="col-xs-2"><input id="method" class="form-control"/></div>
    </div>
    <div class="row my-row">
        <div class="col-xs-6"><textarea id="req" class="form-control" style="height: 200px"></textarea></div>
        <div class="col-xs-6"><textarea id="res" class="form-control" style="height: 200px"></textarea></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        function setInterfaceOption(){
            var dom = $('#config option:selected');
            var item = dom.data('item');
            if(item){
                $('#req').val(item.exampleRequest);
                $('#url').val(item.url);
                $('#method').val(item.method);
            }
        }

        $('#config').on('change blur', function(){
            setInterfaceOption();
        });
        $('#request').on('click', function(){
            var method = $('#method').val();
            var req = $('#req').val();
            var url = $('#url').val();
            if(method == 'post') {
                if (!req) req = {};
                if (typeof req == 'string')
                    req = JSON.parse(req);
                var headers = {};
                if (url == '/login') {
                    var userInfo = $.cookie(config.cacheKey.userInfo);
                    if (!userInfo) {
                        userInfo = extend.guid();
                        $.cookie(config.cacheKey.userInfo, userInfo, {expires: 1});
                    }
                    var token = extend.createToken(req.userName + $.md5(req.pwd) + JSON.stringify(req));
                    headers = {
                        'User-Name': req.userName,
                        'Token': token,
                    };
                } else if (url == '/signUp') {
                    req.pwd = $.md5(req.pwd);
                }
                var reqStr = req;
                if (typeof reqStr != 'string');
                reqStr = JSON.stringify(reqStr);
                extend.ajax({
                    url: url,
                    data: reqStr,
                    headers: headers,
                }).then(function (t) {
                    $('#res').html(t);
                    console.log(t);
                }).fail(function (e) {
                    $('#res').html(e);
                    console.log(e);
                });
            }else if(method == 'get') {
                url = req || url;
                window.open(url);
            }
        });
        setInterfaceOption();
    });
</script>
