<link href="css/fileinput.min.css" rel="stylesheet" />
<style>
    .hover-source{
        position: relative;
        left: 100px;
    }
    .hover-target {
        display: none;
        position: absolute;
        z-index: 999;
        padding-top: 50px;
    }
    .content{
        background-color: #ffffff;
        border: 1px solid #47a8ef;
        width: 100px;
        height: 100px;
    }
</style>

<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Method <%= method %></p>
    <a class="hover hover-source" href="javascript:;">hover</a>
    <div class="hover hover-target">
        <div class="content" class="fill_main"></div>
    </div>
    <a class="hover hover-source" href="javascript:;">hover</a>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <input name="upfile" id="upfile" type="file" class="file"/>
            </div>

            <!--<div class="col-md-6">-->
                <!--<input type="submit" value="提交" class="btn btn-default"/>-->
            <!--</div>-->
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 form-inline">
            <input type="text" id="msg" class="form-control"/>
            <input id="postMsg" type="button" class="btn btn-default" value="发送"/>
        </div>
        <div class="col-md-6">
            <div class=" panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">message</h3>
                </div>
                <div id="msgBox">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="msgItem">
    <% include ../_template_web/msgItem %>
</script>
<script src="js/plugins/fileinput.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.hover').on('mouseover mouseleave', function(e){
            var dom = $(this);
            if(dom.hasClass('hover-source')){
                $('.hover-target').css('left', dom.position().left);
            }
            switch (e.type) {
                case 'mouseover':
                    $('.hover-target').show();
                    break;
                case 'mouseleave':
                    $('.hover-target').hide();
                    break;
            }
        });
    })
</script>
