<link href="css/fileinput.min.css" rel="stylesheet" />
<style>
    .hover-source{
        position: relative;
        left: 100px;
    }
    .hover-target {
        display: none;
        position: absolute;
        z-index: 999;
        padding-top: 50px;
    }
    .content{
        background-color: #ffffff;
        border: 1px solid #47a8ef;
        width: 100px;
        height: 100px;
    }
</style>

<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Method <%= method %></p>
    <a class="hover hover-source" href="javascript:;">hover</a>
    <div class="hover hover-target">
        <div class="content" class="fill_main"></div>
    </div>
    <a class="hover hover-source" href="javascript:;">hover</a>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <input name="upfile" id="upfile" type="file"/>
            </div>

            <!--<div class="col-md-6">-->
                <!--<input type="submit" value="提交" class="btn btn-default"/>-->
            <!--</div>-->
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 form-inline">
            <input type="text" id="msg" class="form-control"/>
            <input id="postMsg" type="button" class="btn btn-default" value="发送"/>
        </div>
        <div class="col-md-6">
            <div class=" panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">message</h3>
                </div>
                <div id="msgBox">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="msgItem">
    <% include ../_template_web/msgItem %>
</script>
<script src="js/plugins/fileinput.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.hover').on('mouseover mouseleave', function(e){
            var dom = $(this);
            if(dom.hasClass('hover-source')){
                $('.hover-target').css('left', dom.position().left);
            }
            switch (e.type) {
                case 'mouseover':
                    $('.hover-target').show();
                    break;
                case 'mouseleave':
                    $('.hover-target').hide();
                    break;
            }
        });


        //socket
        var socketData= {
            postSuccess: {}
        };

        var connection = socket.connection;
        
        $('#postMsg').on('click', function () {
            var msg = $('#msg').val();
            if(msg) {
                var userInfo = $.cookie(config.cacheKey.userInfo);
                var msgId = common.s4();
                connection.emit('postMsg', {
                    user: userInfo,
                    content: msg,
                    msgId: msgId,
                });
                appendMsg({
                    datetime: common.dateFormat(new Date(), 'yyyy-MM-dd HH:mm:ss'),
                    user: userInfo,
                    content: msg,
                    msgId: msgId,
                    status: 0,
                    self: true,
                });
            }
        });
        var appendMsg = function (opt) {
            //status
            //0  发送中 1 发送成功
            //-1 发送失败
            var className = [];
            switch(opt.status){
                case 0:
                    className.push('loading');
                    break;
                case 1:
                    className.push('success');
                    break;
                case -1:
                    className.push('fail');
                    break;
            }
            var userInfo = $.cookie(config.cacheKey.userInfo);
            if(opt.self || userInfo == opt.user){
                className.push('self');
            }
            opt.className = className.join(' ');
            var msgItemTemp = $('#msgItem').html();

            $('#msgBox').append(ejs.render(msgItemTemp, opt));
        }

        setInterval(function() {
            for(var id in socketData.postSuccess){
                var existMsg = $('[data-id="' + id + '"]');
                if(existMsg.length){
                    existMsg.removeClass('loading').addClass('success');
                }else {
                    socketData.postSuccess[id].times++;
                    if(socketData.postSuccess[id].times > 5)
                        delete socketData.postSuccess[id];
                }
            }
        }, 1000);

        connection.on('newMsg', function (data) {
            data.status = 1;
            appendMsg(data);
        });

        connection.on('postSuccess', function (data) {
            var id = data.user + data.msgId;
            var existMsg = $('[data-id="' + id + '"]');
            if(existMsg.length){
                existMsg.removeClass('loading').addClass('success');
            }else {
                socketData.postSuccess[id] = {
                    times: 0
                };
            }
        });


        var control = $('#upfile');
        control.fileinput({
            showUpload: true, //是否显示上传按钮
            showRemove:true,
            dropZoneEnabled: true,
            showCaption: true,//是否显示标题
            //showPreview:false,
            allowedPreviewTypes: ['image'],
            allowedFileTypes: ['image'],
            //allowedFileExtensions:  ['jpg', 'png'],
            maxFileSize : 2000,
            maxFileCount: 1,
            //initialPreview: [
            //预览图片的设置
            //      "<img src='' class='file-preview-image' alt='' title=''>",
            //],
        });
    });
</script>
