<div class="container">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form class="navbar-form">
    <input class="form-control" id="userName" type="text"/>
    <input class="form-control" id="pwd" type="password"/>
    <input class="btn btn-primary" id="login" type="button" value="Login"/>
</form>
</div>
<script type="text/javascript">
    $(function(){
        $('#login').on('click', function(){
            var req = {
                userName: $('#userName').val(),
                pwd: $('#pwd').val(),
            };
            var userInfo = $.cookie(config.cacheKey.userInfo);
            if(!userInfo){
                userInfo = extend.guid();
                $.cookie(config.cacheKey.userInfo, userInfo, { expires: 1 });
            }
            var token = extend.createToken(req.userName + $.md5(req.pwd) + '{}');
            headers = {
                'User-Name': req.userName,
                'Token': token,
            };
            interface.login({},{
                headers: headers,
            }).then(function (t) {
                console.log(t)
                location.href = '/users';
            }).fail(function (e) {
                console.log(e)
            });
        });
    });
</script>
