<% var rowItemClass = 'col-lg-3 col-md-3 col-sm-6 col-xs-12'; %>
<div class="row my-row">
    <div class="<%= rowItemClass %> col-lg-offset-9 col-md-offset-9 col-sm-offset-6">
        <button id="search" class="btn btn-default btn-block">
            search
        </button>
    </div>
</div>

<table id="list" class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center" colspan="100">onlineUser</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>key</th>
        <th></th>
    </tr>
    </tbody>
    <tbody class="error">
    <tr>
        <td class="text-center" colspan="100" name="errorContent"></td>
    </tr>
    </tbody>
</table>

<script type="text/template" id="onlineUserItemTemp">
    <% include ../_template_front/onlineUserItem%>
</script>
<script type="text/javascript">
    require(['jquery', 'ejs', './_main', './myInterface', './common'], function () {
        var $ = require('jquery'),
            ejs = require('ejs'),
            main = require('./_main'),
            myInterface = require('./myInterface'),
            common = require('./common');

        main.init();

        var temp = $('#onlineUserItemTemp').html();
        $('#search').on('click', function () {
            $('#list [name=errorContent]').empty();
            $('#list .row').remove();

            myInterface.api.onlineUserQuery().then(function (t) {
                for (var key in t) {
                    $('#list').append(ejs.render(temp, {key: key, count: t[key]}));
                }
            }).fail(function (e) {
                $('#list [name=errorContent]').text(e);
            });
        });

        $('#list').on('click', '.onlineUserKey', function () {
            var key = $(this).data('key');
            myInterface.api.onlineUserDetailQuery({key: key}).then(function (t) {
                var msg = t;
                if (!msg)
                    msg = '未登录的用户';
                else
                    msg = `${t.account}(${t.nickname}#${t.id})`;
                common.msgNotice({type: 1, msg: msg});
            }).fail(function (e) {
                common.msgNotice({type: 1, msg: e});
            });
        });

        $('#search').click();
    });
</script>