<div class="container" style="padding-top: 20px">
    <%- include ../../_template/signIn %>
</div>
<script type="text/javascript">
	require(['./_main'], function () {
		var main = require('./_main');
		main.init();
	});
</script>