<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <button class="close" type="button" data-dismiss="modal">
                ×
            </button>
            <h4 name="title" class="modal-title">
            </h4>
        </div>
        <div name="detailContainer" class="modal-body content">
        </div>
        <div name="footer" class="modal-body">
            <button type="button" class="btn btn-default btn-content save">确认</button>
            <button type="button" class="btn btn-default btn-content" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>