<form class="form-horizontal sign-in-form">
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>

        <div class="col-sm-10">
            <input class="form-control sign-in-input" name="account" placeholder="请输入用户名" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>

        <div class="col-sm-10">
            <input class="form-control sign-in-input" name="password" placeholder="请输入密码" value=""
                   type="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">验证码</label>

        <div class="col-sm-6">
            <input class="form-control sign-in-input" name="captcha" placeholder="请输入验证码" value=""/>
        </div>
        <div class="col-sm-4">
            <span name="captchaBox"></span>
            <a href="javascript:;" name="changeCaptcha">换一张</a>
            <span name="captchaErr" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <button type="button" class="btn btn-default" name="signIn">登录</button>
        </div>
    </div>
</form>