html,
body {
  height: auto;
  background: #f5f7f9;
  overflow: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
  min-height: 30px;
  &:hover {
    background-color: #b3b3b3;
  }
}

@headerHeight: 64px;
.layout {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.layout-header-bar {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
}
.layout-header-right {
  float: right;
  position: relative;
  margin-right: 20px;
  > * {
    margin-right: 10px;
  }
}
.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}
.menu-icon {
  transition: all 0.3s;
  margin: 0 20px;
}
.rotate-icon {
  transform: rotate(-90deg);
}

.menu {
  span {
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width 0.2s ease 0.2s;
  }
  i {
    vertical-align: middle;
    font-size: 22px;
  }
}
.collapsed-menu {
  span {
    width: 0px;
    transition: width 0.2s ease;
  }
  i {
    vertical-align: middle;
  }
}

.menu-item,
.menu-sub-menu > .ivu-menu-submenu-title {
  padding: 14px !important;
}

.hidden {
  display: none !important;
}
.invisibility {
  visibility: hidden !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu-blank {
  flex: 0 0 78px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.main-content {
  margin: 0;
  margin-top: @headerHeight;
  padding: 25px;
  min-height: 260px;
  height: 100%;
}
@media (max-width: 576px) {
  .main-content {
    padding: 10px;
  }
}

.side-menu {
  top: @headerHeight;
  position: fixed;
  height: 100%;
  z-index: 11;
}

.dialog-view {
  .dialog-content {
    max-width: 400px;
    margin: 0 auto;
  }
}

button {
  margin-right: 5px;
}

.cover {
  object-fit: cover;
  width: 160px !important;
  height: 90px !important;
}

img[lazy="loading"] {
  width: auto !important;
  height: auto !important;
}

.form-no-error .ivu-form-item {
  margin-bottom: 0;
}

.ivu-avatar img {
  object-fit: cover;
}
.ivu-tabs {
  overflow: visible;
}
.ivu-layout-sider-collapsed {
  .ivu-menu-submenu-title-icon,
  .ivu-menu-submenu .menu-text {
    display: none;
  }
}

.shadow {
  box-shadow: 1px 1px 5px #888888;
}

.not-important {
  color: #798692;
}

.no-bg {
  background: none;
}

.flex-stretch {
  flex: 1 1 auto;
  align-self: stretch;
}

.chat-content {
  border: 1px solid #dcdee2;
  border-color: #e8eaec;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  white-space: pre;
  padding: 5px;
}

.loading-icon {
  animation: ani-demo-spin 1s linear infinite;
}

.pointer {
  cursor: pointer;
}
