html,
body {
  // height: 100%;
  background: #f5f7f9;
}
@headerHeight: 64px;
.layout {
  height: 100%;
  // border: 1px solid #d7dde4;
  // background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.layout-header-bar {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
}
.layout-header-right {
  float: right;
  position: relative;
  margin-right: 20px;
  > * {
    margin-right: 10px;
  }
}
.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}
.menu-icon {
  transition: all 0.3s;
}
.rotate-icon {
  transform: rotate(-90deg);
}

.menu {
  span {
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width 0.2s ease 0.2s;
  }
  i {
    vertical-align: middle;
    font-size: 22px;
  }
}
.collapsed-menu {
  span {
    width: 0px;
    transition: width 0.2s ease;
  }
  i {
    vertical-align: middle;
  }
}

.menu-item {
  padding: 14px !important;
}

.hidden {
  display: none !important;
}
.invisibility {
  visibility: hidden !important;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-menu-blank {
  flex: 0 0 78px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

@mainContentMargin: 20px;
.main-content {
  margin: @mainContentMargin;
  padding: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: calc(@headerHeight + @mainContentMargin);
  padding-right: 25px;
  padding-bottom: 25px;
  min-height: 260px;
  height: 100%;
}

.side-menu {
  top: @headerHeight;
  position: fixed;
  height: 100%;
  z-index: 11;
}

.dialog-view {
  width: 400px;
}

button {
  margin-right: 5px;
}

.cover {
  width: 160px;
  height: 90px;
}

.article-mgt-detail-content .ql-editor {
  min-height: 400px;
}

.article-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-send .ql-editor {
  height: 150px;
}

.form-no-error .ivu-form-item {
  margin-bottom: 0;
}

.ivu-avatar img {
  object-fit: cover;
}
.shadow {
  box-shadow: 1px 1px 5px #888888;
}
