<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Inherits="CodeTemplate" Language="C#" TargetLanguage="Text" Description="NetTiers main template." Debug="True" 
ResponseEncoding="UTF-8"%>

<%@ Assembly Name="SchemaExplorer"%>
<%@ Import Namespace="SchemaExplorer"%>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Register Name="Tools" Template="Tools.cst"MergeProperties="Flase" ExcludeProperties=""%>
<%@ Property Name="Table" Type="TableSchema" DeepLoad="True" Optional="False" Category="01. Getting Started - Required" 
Description="数据表"%>

<%
var id = "";
var databaseType = Tools.DatabaseTypeEnum.MySql;
var dbModel = new Tools.DatabaseModel(){
    TableName = Table.Columns[0].Table.Name,
};
var cols = new List<Tools.DatabaseColModel>();
foreach(ColumnSchema col in Table.Columns){ 
var colModel = new Tools.DatabaseColModel();
    colModel.Name = col.Name;
    colModel.NativeType = Tools.GetTypeWithSize(col, databaseType); 
    //第一个主键为id
    if(string.IsNullOrEmpty(id) && col.IsPrimaryKeyMember){
        dbModel.IdCol = colModel;
        var intTypeList = new List<DbType>(){DbType.Int16, DbType.Int32, DbType.Int64};
        if(intTypeList.Contains(col.DataType))
            dbModel.IsIdInt = true;
    }else{
        cols.Add(colModel);
    }
}
dbModel.Cols = cols;
var procList = Tools.CreateProcedure(dbModel, databaseType);
procList.ForEach(x=>{
    %>
<%=x%>

    <%
});
%>