<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/style.css"/>

    <script type="text/javascript">
        <%
        var showKeyList = ['id', 'nickname', 'account', 'authority'];
        var showUser = {};
        for (var key in user) {
            if (showKeyList.includes(key))
                showUser[key] = user[key];
        }
        %>
		var global = {};
		var user = global.user = <%- JSON.stringify(showUser, null, '\t') %>;
    </script>
    <% include ./js %>
</head>
<body class="<%= noNav ? 'no-nav' : '' %>">
<% if(!noNav){ %>
<% include ./header_nav %>
<% } %>