<div class="container" style="padding-top: 20px">
    <%- include ../../_template/signIn %>
</div>
<script type="text/javascript">
    require(['./_main'], function () {
        require('./_main').init();                
    });
</script>