<tbody class="itemRow">
<tr>
    <td><%= id %></td>
    <td><%= code %></td>
    <td><%= name %></td>
    <td><%= status == 1 ? '启用' : '禁用' %></td>
    <td>
        <a class="itemDetailQuery" href="javascript:;">详细</a>
    </td>
</tr>
</tbody>