@clsPrefix: my-img-;

.@{clsPrefix}main {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: inherit;
  height: inherit;
}

.@{clsPrefix}image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
