@clsPrefix: my-img-;

.@{clsPrefix}root img {
  height: 100%;
  width: 100%;
}

.@{clsPrefix}image {
  object-fit: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.@{clsPrefix}load-fail {
  width: 100px !important;
  height: 100px !important;
}
