.user- {
  &detail- {
    &main {
      display: flex;
      align-items: baseline;
    }
    &avatar {
      margin-left: 10px;
    }
    &follow {
      align-items: flex-end;
    }
    &edit {
      margin-left: 5px;
    }
    &tab {
      min-height: 300px;
    }
  }
  &follow- {
    &main {
      margin-top: 5px;
    }
    &content {
      display: flex;
      align-items: baseline;
      justify-content: "flex-start";
    }
    &profile {
      margin-left: 5px;
    }
  }
}
